<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>
        <%= qns.title %>
    </title>
</head>

<body>
    <div class="qnsSub">
        <div class="qns">
            <h1>
                <%= qns.title %>
            </h1>
            <p>
                <%= qns.description %>
            </p>

            <h2>Test Cases:</h2>
            <ul>
                <% qns.testCases.forEach(function(testCase) { %>
                    <li>Input: <%= testCase.input %>
                    </li>
                    <li>Expected Output: <%= testCase.output %>
                    </li>
                    <br>
                    <% }); %>
            </ul>
        </div>
        <div class="sub">
            <h3>Submit your ans</h3>
            <textarea name="" id="" cols="30" rows="10"></textarea><br>
            <input type="submit">
        </div>
    </div>

</body>

</html>